# AWS Credentials
AWS_ACCESS_KEY_ID=<your_access_key_id>
AWS_SECRET_ACCESS_KEY=<your_secret_access_key>
AWS_STS_ROLE=<your_arn_role>

# AWS Config
AWS_REGION=<your_region>

# AWS S3
BUCKET_SOURCE=<your_bucket_source>

# AWS SQS
SQS_QUEUE_URL=<your_sqs>

# Axinom DRM
WIDEVINE_LICENSE=<your_widevine_license>
COMM_KEY_ID=<your_com_key_id>
COMM_KEY=<your_base64_com_key>